body {
  background-color: lightblue;
  display: grid;
}

.card {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
}
.gameArea {
  background-color: pink;
  padding: 10px;
  border-radius: 15px;
  display: grid;
  justify-self: center;
}
.gameContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
}
.back{
  display: none;
  width: 100%;
  height: 100%;
  img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
}
.front {
  width: 100%;
  height: 100%;
  .bg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
